body {
  background: #eee;
  font-family: sans-serif;
}

/* * {
  border: 1px solid red
}*/

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin-top: 0;
  margin-bottom: 8px;
}

.content {
  background: #eee;
  padding: 16px 8px;
}

.button-container {
  background: #eee;
  text-align: center;
  padding: 8px;
}

button {
  display: block;
  background: white;
  border: 1px solid white;
  padding: 8px 24px;
  margin: 0 auto;
}

.title, .content{
  margin-bottom: 8px;
}